[Desktop Entry]
Type=Application
Name=PiliSuper
Comment=A third-party Bilibili Client developed in Flutter
Comment[zh_CN]=使用 Flutter 开发的 BiliBili 第三方客户端
Exec=pilisuper
Icon=pilisuper
Terminal=false
StartupWMClass=com.example.pilisuper
Categories=Video;AudioVideo;Player;
